@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);
}

.chatbot-popup {
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 22px;
    background: #5350C4;
}

.chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info .chatbot-logo {
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #fff;
    fill: #5350C4;
}

.header-info .logo-text {
    font-size: 1.31rem;
    font-weight: 600;
    color: #fff;
}

.chat-header #close-chatbot {
    border: none;
    background: none;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    cursor: pointer;
    margin-right: -10px;
    padding-top: 2px;
    transition: 0.2s ease;
}

.chat-header #close-chatbot:hover {
    background: #3d39ac;
}